INSTALL
Makefile
Makefile.in
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
.deps
*.o
aclocal.m4
autom4te.cache
compile
*.service
xdg-app-gtk-portal
xdg-app-portal-dbus.[ch]
